/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

.keydown.deck-container .slide.light .content {
    color: white;
}

.keydown.deck-container .slide.light code {
    color: yellow;
}

.keydown.deck-container .slide.bigcode .CodeMirror {
    font-size: 1.33rem;
}

.keydown.deck-container .slide.glow .content {
    color: yellow;
   text-shadow:
   3px 3px 0 #000,
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;

}
